/* main stylesheet. will eventually replace main.css */
html body {
  text-align: center;
  /* Header & nav */
  /* Containers */
  /* Titles & text */
  /* Forms */
  /* Lists */
  /* Buttons */
  /* Carousels */
  /* 3rd Party */
  /* mobile stuff, overridden by media query in fore-desktop where needed */
}
html body header.row {
  padding-top: 0;
  /* mobile specific nav */
}
html body header.row li {
  float: right;
  position: relative;
  right: 5%;
}
html body header.row li a {
  display: block;
  color: #2581C4;
  padding: 16px;
  line-height: 6pt;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
html body header.row ul {
  list-style-type: none;
}
html body header.row nav.top-menu {
  display: none;
  /* hidden for mobile*/
  overflow: hidden;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: 60px;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: auto;
}
html body header.row nav.top-menu ul {
  width: 96%;
  margin: auto;
}
html body header.row nav.top-menu.active {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
html body header.row.headerMobileActive {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10001;
}
html body header.row.headerMobileActive nav.top-menu {
  display: block;
  height: 100%;
  width: 100%;
}
html body header.row.headerMobileActive nav.top-menu ul {
  display: block;
  text-align: left;
  padding: 20px;
  margin-top: 40px;
  width: 220px;
  margin-left: 15px;
}
html body header.row.headerMobileActive nav.top-menu ul li {
  display: block;
  font-size: 22px;
  float: none;
  margin-bottom: 20px;
}
html body header.row.headerMobileActive nav.top-menu ul li a {
  border: 3px solid;
  border-radius: 4px;
  padding: 25px 20px;
  display: block;
  text-align: center;
}
html body header.row nav.mobile {
  display: block;
  text-align: left;
  left: 30px;
  position: absolute;
}
html body header.row nav.mobile .box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
  font-size: 40px;
  z-index: 10002;
}
html body header.row nav.mobile .box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black,
				0 0.5em 0 0 black;
}
html body .index-container-blue {
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
  background: #88D0E9;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left bottom, #2d2e83, #2581c4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, #2d2e83, #2581c4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, #2d2e83, #2581c4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, #2d2e83, #2581c4);
  /* Standard syntax (must be last) */
  color: #fff;
}
html body .index-container-blue a,
html body .index-container-blue address,
html body .index-container-blue p {
  color: #fff;
}
html body .index-container-grey {
  background-color: #F2F2F2;
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
}
html body .index-container-white {
  background-color: #FFFFFF;
  padding-bottom: 2%;
  height: auto;
}
html body .blue-full-width {
  color: white;
  margin: auto;
  width: 80%;
  height: auto;
}
html body .grey-full-width {
  color: #1D1D1B;
  margin: auto;
  width: 80%;
  height: auto;
}
html body .white-full-width {
  color: #1D1D1B;
  margin: auto;
  height: auto;
}
html body .white-sub {
  color: #1D1D1B;
  margin: auto;
  height: auto;
  text-align: center;
  padding: 20px;
  max-width: 80%;
}
html body .white-sub p {
  margin-bottom: 20px;
}
html body .row {
  padding: 20px 30px;
}
html body .row.root {
  max-width: 1100px;
  margin: auto;
}
html body .row.no-pad {
  padding: 0 30px;
}
html body .stacked-content-sm h1 {
  margin: 25px 0 0 0;
}
html body .stacked-content-sm h2,
html body .stacked-content-sm h3,
html body .stacked-content-sm h4,
html body .stacked-content-sm h5,
html body .stacked-content-sm h6 {
  margin-top: 40px;
  padding-top: 0;
  margin-bottom: 30px;
}
html body .stacked-content-sm .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
html body .stacked-content-sm .buttons-container {
  margin-top: 15px;
}
html body footer .footer-menu li {
  padding: 20px;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  padding: 0;
  margin: 10px 0;
  font-weight: bold;
}
html body h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
html body h2,
html body h3 {
  font-size: 22px;
}
html body h4,
html body h5,
html body h6 {
  font-size: 16px;
}
html body p {
  font-size: 14px;
  color: #000;
}
html body .small-text {
  font-size: 11px;
}
html body .narrow-title {
  width: 40%;
  margin: auto;
}
html body .text-blue,
html body .text-blue p {
  color: #88D0E9;
}
html body .text-blue h1,
html body .text-blue h2,
html body .text-blue h3,
html body .text-blue h4,
html body .text-blue h5,
html body .text-blue h6 {
  color: #fff;
}
html body .white-title {
  color: #FFFFFF;
  padding-bottom: 2%;
}
html body .black-title {
  color: #1D1D1B;
  padding-bottom: 2%;
}
html body .partners-title {
  padding-top: 3%;
  color: #676766;
}
html body form input,
html body form textarea,
html body form select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 0;
  padding: 3px 5px;
}
html body ul,
html body ol {
  padding: 10px 0;
  margin: 0;
}
html body .inline-list li {
  display: inline-block;
  padding: 10px;
}
html body .buttons-container.light .button {
  border: 0;
  background: #88D0E9;
}
html body .button {
  background: none;
  color: #fff;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 2px;
  border: 2px solid #88D0E9;
  margin-right: 10px;
  transition: linear 0.2s;
}
html body .button:hover {
  background: #88D0E9;
  text-decoration: none;
}
html body .carousel {
  padding: 40px 0;
  width: 80%;
  margin: auto;
}
html body .carousel.single img {
  margin-bottom: 15px;
}
html body .carousel > div {
  text-align: center;
}
html body .carousel > div img {
  margin: auto;
}
html body .carousel > div .main-content {
  display: none;
}
html body .carousel .slick-current .main-content {
  display: block;
}
html body .carousel .slick-arrow {
  color: #88D0E9;
  border-radius: 50px;
  border: 3px solid;
  padding: 15px;
}
html body .carousel .slick-arrow:before {
  color: #88D0E9;
  top: 20%;
  position: absolute;
  text-align: center;
  left: 5px;
  font-weight: bold;
}
html body .carousel .slick-arrow.slick-prev:before {
  content: "⏴";
}
html body .carousel .slick-arrow.slick-next:before {
  content: "⏵";
}
html body #map {
  width: auto;
  height: 60vh;
}
html body .center-sm {
  text-align: center;
}
@media (min-width: 780px) {
  html body {
    text-align: left;
    /* rig layout of items without upsetting data flow */
  }
  html body header.row nav.top-menu {
    display: inline-block;
  }
  html body header.row nav.mobile {
    display: none;
  }
  html body .item-left {
    float: left;
  }
  html body .item-right {
    float: right;
  }
  html body .row .center-md,
  html body .row.center-md {
    text-align: center;
  }
  html body .row .center-sm,
  html body .row.center-sm {
    text-align: left;
  }
  html body .split-content-md h1 {
    margin: 25px 0;
  }
  html body .split-content-md h2,
  html body .split-content-md h3,
  html body .split-content-md h4,
  html body .split-content-md h5,
  html body .split-content-md h6 {
    margin-top: 0;
    padding-top: 0;
  }
  html body .split-content-md .row {
    padding-bottom: 50px;
  }
  html body .split-content-md .row:first-child {
    padding-bottom: 0px;
  }
  html body .split-content-md .row:last-child {
    padding-bottom: 10px;
  }
  html body .white-sub {
    max-width: 70%;
  }
}
