/* main stylesheet. will eventually replace main.css */
html body {
  text-align: center;
  /* Header & nav */
  /* Containers */
  /* Titles & text */
  /* Forms */
  /* Lists */
  /* Buttons */
  /* 3rd Party */
  /* mobile stuff, overridden by media query in fore-desktop where needed */
  /* Images */
  /* social links */
}
html body .logo-link img {
  width: 170px;
  height: 50px;
  width: auto;
  display: inline-block;
}
html body header.row {
  padding-top: 0;
}
html body header.row .fore-logo {
  float: left;
  position: relative;
  padding-left: 5%;
  padding-top: 10px;
  z-index: 10001;
  left: 90px;
}
html body header.row li {
  float: right;
  position: relative;
  right: 5%;
}
html body header.row li a {
  display: block;
  color: #2581C4;
  padding: 16px;
  line-height: 6pt;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
html body header.row ul {
  list-style-type: none;
}
html body header.row nav.top-menu {
  padding-top: 20px;
  overflow: hidden;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: 90px;
  background-color: transparent;
  position: relative;
  left: 0;
  width: 100vw;
  margin: auto;
  top: 0;
}
html body header.row nav.top-menu ul#top-menu--nav-list {
  display: none;
  /* hidden for mobile*/
  width: 96%;
  margin: auto;
  float: left;
  margin-left: -30px;
}
html body header.row nav.top-menu.active {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
html body .index-container-blue {
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
  background: #88D0E9;
  background: -webkit-linear-gradient(left bottom, #2d2e83, #2581c4);
  background: -o-linear-gradient(bottom left, #2d2e83, #2581c4);
  background: -moz-linear-gradient(bottom left, #2d2e83, #2581c4);
  background: linear-gradient(to bottom left, #2d2e83, #2581c4);
  color: #fff;
}
html body .index-container-blue a,
html body .index-container-blue address,
html body .index-container-blue p {
  color: #fff;
}
html body .index-container-blue a.button {
  text-decoration: none;
}
html body .index-container-grey {
  background-color: #F2F2F2;
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
}
html body .index-container-white {
  background-color: #FFFFFF;
  padding-bottom: 2%;
  height: auto;
}
html body .blue-full-width {
  color: white;
  margin: auto;
  width: 80%;
  height: auto;
}
html body .grey-full-width {
  color: #1D1D1B;
  margin: auto;
  width: 80%;
  height: auto;
}
html body .white-full-width {
  color: #1D1D1B;
  margin: auto;
  height: auto;
}
html body .white-sub {
  color: #1D1D1B;
  margin: auto;
  height: auto;
  text-align: center;
  padding: 20px;
  max-width: 80%;
}
html body .white-sub p {
  margin-bottom: 20px;
}
html body .row {
  padding: 20px 30px;
}
html body .row.root {
  margin: auto;
  padding-bottom: 40px;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
}
html body .row.no-pad {
  padding: 0 30px;
}
html body .row.no-pad--bottom {
  padding-bottom: 0;
}
html body .row.padding-wide {
  padding: 20px 80px;
}
html body .row.padding-wide.root {
  padding-bottom: 60px;
}
html body .stacked-content-sm h1 {
  margin: 25px 0 0 0;
}
html body .stacked-content-sm h2,
html body .stacked-content-sm h3,
html body .stacked-content-sm h4,
html body .stacked-content-sm h5,
html body .stacked-content-sm h6 {
  margin-top: 40px;
  padding-top: 0;
  margin-bottom: 30px;
}
html body .stacked-content-sm .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
html body .stacked-content-sm .buttons-container {
  margin-top: 15px;
}
html body footer {
  background: #F2F2F2;
}
html body footer .footer-menu li {
  padding: 15px;
}
html body footer .footer-menu li a {
  text-transform: uppercase;
}
html body footer a {
  color: #000;
}
html body footer a:hover {
  color: #2d2e83;
}
html body footer .fore-logo {
  height: 35px;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  padding: 0;
  margin: 10px 0;
  font-weight: bold;
}
html body h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
html body h2,
html body h3 {
  font-size: 18px;
}
html body h4,
html body h5,
html body h6 {
  font-size: 16px;
}
html body p {
  font-size: 14px;
  color: #000;
}
html body a {
  text-decoration: none;
}
html body a:hover {
  text-decoration: underline;
}
html body .small-text {
  font-size: 10px;
}
html body .narrow-text {
  width: 60%;
  margin: auto;
}
html body .text-blue,
html body .text-blue p {
  color: #88D0E9;
}
html body .text-blue h1,
html body .text-blue h2,
html body .text-blue h3,
html body .text-blue h4,
html body .text-blue h5,
html body .text-blue h6 {
  color: #fff;
}
html body .white-title {
  color: #FFFFFF;
  padding-bottom: 2%;
}
html body .black-title {
  color: #1D1D1B;
  padding-bottom: 2%;
}
html body .partners-title {
  padding-top: 3%;
  color: #676766;
}
html body hr.graphic-hr {
  width: 0px;
  border: 7px solid #fff;
  border-radius: 50px;
  padding: 10px;
  background: #2c82c2;
  margin: auto;
  position: absolute;
  left: 50vw;
  margin-left: -15px;
  z-index: 101;
}
html body hr.graphic-hr.graphic-hr--open {
  margin-top: -36px;
}
html body hr.graphic-hr.graphic-hr--close {
  margin-top: -17px;
}
html body hr.graphic-hr.graphic-hr--grey {
  border: 7px solid #F2F2F2;
}
html body blockquote {
  border-left: 0;
}
html body blockquote,
html body blockquote p {
  font-style: italic;
  color: #c1c1c1;
}
html body blockquote > p {
  position: relative;
}
html body blockquote > p:before,
html body blockquote > p:after {
  font-size: 30px;
  font-weight: bold;
  color: #2c82c2;
  display: inline-block;
  font-family: cursive, serif;
  position: absolute;
  left: -20px;
  top: -5px;
}
html body blockquote > p:before {
  content: '"';
}
html body blockquote > p:after {
  content: '”';
  right: -20px;
  left: initial;
}
html body form input,
html body form textarea,
html body form select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 0;
  padding: 3px 5px;
}
html body ul,
html body ol {
  padding: 10px 0;
  margin: 0;
}
html body .inline-list li {
  display: inline-block;
  padding: 10px;
}
html body .buttons-container.light .button {
  border: 0;
  background: #88D0E9;
}
html body .button,
html body input[type="submit"] {
  background: none;
  color: #fff;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 2px;
  border: 2px solid #88D0E9;
  margin-right: 10px;
  transition: linear 0.2s;
}
html body .button:hover,
html body input[type="submit"]:hover {
  background: #88D0E9;
  text-decoration: none;
}
html body .button-right {
  text-align: right;
}
html body .btn-auto-width {
  width: auto;
}
html body .arrow-down {
  width: 30px;
  height: 30px;
}
html body .arrow-down:after {
  content: "▼";
  position: relative;
  font-size: 20px;
  left: -10px;
  top: -13px;
}
html body .load-more--button {
  float: right;
  font-weight: bold;
  padding-top: 15px;
}
html body .load-more--button .arrow {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
html body #map {
  width: auto;
  height: 60vh;
}
html body .center-sm {
  text-align: center;
}
html body .hero-image {
  background-image: url(../img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
html body .hero-image.hero-image--3q {
  height: 75vh;
}
html body .hero-image.hero-image--2t {
  height: 66vh;
}
html body .header--no-hero-img {
  height: 100px;
}
html body .hero-text {
  display: inline-block;
  font-size: 14pt;
  line-height: 10pt;
  position: relative;
  color: #F8F8F8;
  border-bottom: 5px solid #2c82c2;
  top: 16vh;
  left: 43vw;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
html body .social-links-list .social-links-list--fb,
html body .social-links-list .social-links-list--tw,
html body .social-links-list .social-links-list--ig {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 0;
}
html body .social-links-list .social-links-list--fb {
  background: url(../img/social/fb@2x.png) no-repeat;
  background-size: contain;
}
html body .social-links-list .social-links-list--fb:hover {
  background: url(../img/social/fb-hover@2x.png) no-repeat;
  background-size: contain;
}
html body .social-links-list .social-links-list--tw {
  background: url(../img/social/twitter@2x.png) no-repeat;
  background-size: contain;
}
html body .social-links-list .social-links-list--tw:hover {
  background: url(../img/social/twitter-hover@2x.png) no-repeat;
  background-size: contain;
}
html body .social-links-list .social-links-list--ig {
  background: url(../img/social/ig@2x.png) no-repeat;
  background-size: contain;
}
html body .social-links-list .social-links-list--ig:hover {
  background: url(../img/social/ig-hover@2x.png) no-repeat;
  background-size: contain;
}
@media (max-width: 991px) {
  html body .container {
    padding: 0;
    width: 100vw;
  }
  html body .row.padding-wide {
    padding: 20px 10px;
  }
  html body .row.split-content-box {
    padding: 10px 10px 40px 10px;
  }
  html body header.row {
    padding: 0;
    margin: 0;
    /* mobile specific nav */
  }
  html body header.row .logo-link .fore-logo {
    left: -7px;
    top: -15px;
  }
  html body header.row .hero-image {
    margin: 0;
    padding: 0;
  }
  html body header.row .hero-text {
    top: 420px;
    right: -110px;
    left: inherit;
  }
  html body header.row .hero-text h1 {
    width: 190px;
    border-bottom: 0;
  }
  html body header.row nav.top-menu {
    background: none;
    transition: linear 0.2s;
  }
  html body header.row nav.mobile {
    display: block;
    text-align: left;
    right: 20px;
    position: absolute;
    top: 10px;
  }
  html body header.row nav.mobile .box-shadow-menu {
    position: fixed;
    padding-left: 1.25em;
    font-size: 40px;
    z-index: 10002;
    right: 10px;
    height: 50px;
    width: 50px;
  }
  html body header.row nav.mobile .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: #2c82c2;
    box-shadow: 0 0.25em 0 0 #2c82c2, 0 0.5em 0 0 #2c82c2;
  }
  html body header.row.headerMobileActive {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10001;
  }
  html body header.row.headerMobileActive nav.top-menu {
    display: block;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.85);
    padding-top: 70px;
    left: 0;
    position: absolute;
    top: 0;
  }
  html body header.row.headerMobileActive nav.top-menu .logo-link {
    display: none;
  }
  html body header.row.headerMobileActive nav.top-menu ul#top-menu--nav-list {
    display: block;
    text-align: left;
    padding: 20px;
    margin-top: 130px;
    width: 220px;
    margin: auto;
    float: none;
  }
  html body header.row.headerMobileActive nav.top-menu ul#top-menu--nav-list li {
    display: block;
    font-size: 30px;
    float: none;
    margin-bottom: 20px;
  }
  html body header.row.headerMobileActive nav.top-menu ul#top-menu--nav-list li a {
    border: 3px solid;
    border-radius: 4px;
    padding: 20px 15px;
    display: block;
    text-align: center;
  }
  html body .stacked-content-sm h1 {
    margin: 25px 0 20px 0;
  }
  html body .inline-list--mobile-shrink li {
    width: 95px;
    padding: 10px 5px;
  }
  html body .inline-list--mobile-shrink li img {
    width: 100%;
    padding: 0;
  }
  html body .index-container-grey--center-text-small-img .events-title {
    text-align: center;
    padding: 20px 0 30px 0;
    width: 80%;
    margin: auto;
  }
  html body .index-container-grey--center-text-small-img .index-container-grey--center-text-small-img--img {
    text-align: center;
  }
  html body .index-container-grey--center-text-small-img .index-container-grey--center-text-small-img--img img {
    height: 150px;
    width: auto;
    margin: -10px auto 5px auto;
  }
  html body article {
    width: 80%;
    margin: auto;
    text-align: left;
  }
  html body .mobile-centralise {
    text-align: center;
  }
  html body .desktop-fullwidth {
    max-width: 90%;
  }
  html body footer .footer-menu .stacked-list-mobile li {
    padding: 5px;
    display: block;
  }
  html body footer .footer-menu .stacked-list-mobile li a {
    font-weight: bold;
  }
  html body footer .nav-logo-inline {
    display: block;
    clear: both;
    margin-bottom: 20px;
  }
}
/* Carousels */
.carousel {
  padding: 40px 0;
  width: 80%;
  margin: auto;
}
.carousel.single img {
  margin-bottom: 15px;
}
.carousel.single > div p {
  width: 80%;
  margin: auto;
}
.carousel > div {
  text-align: center;
}
.carousel > div img {
  margin: auto;
}
.carousel > div .main-content {
  display: none;
}
.carousel .slick-current .main-content {
  display: block;
}
.carousel .slick-arrow,
.arrow {
  color: #2c82c2;
  border-radius: 50px;
  border: 3px solid;
  padding: 15px;
  top: 30%;
  opacity: 1;
}
.carousel .slick-arrow:before,
.arrow:before {
  color: #2c82c2;
  top: 20%;
  position: absolute;
  text-align: center;
  left: 5px;
  font-weight: bold;
}
.carousel .slick-arrow.slick-prev:before,
.arrow.slick-prev:before {
  content: "◀";
  opacity: 1;
}
.carousel .slick-arrow.slick-next:before,
.arrow.slick-next:before {
  content: "▶";
  text-indent: 3px;
  opacity: 1;
}
.carousel.center {
  margin: auto;
}
.center-multi--small-thumbnails img {
  width: 110%;
}
@media (min-width: 991px) {
  html body {
    text-align: left;
    /* rig layout of items without upsetting data flow */
  }
  html body .container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
  }
  html body header.row nav.top-menu {
    display: inline-block;
    position: fixed;
  }
  html body header.row nav.top-menu ul#top-menu--nav-list {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  html body header.row nav.mobile {
    display: none;
  }
  html body header.row .fore-logo {
    position: fixed;
    left: 0;
  }
  html body .row--no-pad--top--md {
    padding-top: 0;
  }
  html body .root.index-container-grey {
    padding-left: 80px;
    padding-right: 80px;
  }
  html body .desktop-fullwidth {
    width: 100%;
  }
  html body .item-left {
    float: left;
  }
  html body .item-right {
    float: right;
  }
  html body .row .center-md,
  html body .row.center-md {
    text-align: center;
  }
  html body .row .center-sm,
  html body .row.center-sm {
    text-align: left;
  }
  html body .split-content-box .split-content-box--md--right {
    padding-left: 30px;
  }
  html body .split-content-box .split-content-box--md--left {
    padding-right: 20px;
  }
  html body .split-content-md h1 {
    margin: 30px 0 0 0;
    padding: 0;
  }
  html body .split-content-md h2,
  html body .split-content-md h3,
  html body .split-content-md h4,
  html body .split-content-md h5,
  html body .split-content-md h6 {
    margin-top: 0;
    padding-top: 0;
  }
  html body .split-content-md .row {
    padding-bottom: 30px;
  }
  html body .split-content-md .row:first-child {
    padding-bottom: 0px;
  }
  html body .split-content-md .row:last-child {
    padding-bottom: 10px;
  }
  html body .white-sub {
    max-width: 70%;
  }
  html body .carousel .slick-current .main-content {
    display: block;
    width: 380px;
    margin-left: -78px;
  }
  html body footer.row.root {
    text-align: left;
    padding-left: 21px;
  }
  html body footer.row.root .footer-menu > .row {
    padding-top: 0;
    padding-bottom: 0;
  }
  html body footer.row.root #footer--social-and-tc {
    margin-top: -20px;
  }
  html body footer.row.root .fore-logo {
    height: 50px;
    padding-right: 20px;
    margin-left: 7px;
  }
  html body footer.row.root ul.social-links-list {
    padding: 0;
    margin-left: 0;
  }
  html body footer.row.root ul.social-links-list li {
    padding: 3px;
  }
  html body footer.row.root ul.social-links-list li:first-child {
    margin-left: 0;
  }
  html body footer.row.root ul.small-text {
    padding-left: 0;
  }
  html body footer.row.root ul.small-text li {
    margin-left: 0;
    padding-left: 0;
  }
}
html body .featured-page--content-block--grey {
  text-align: left;
}
html body .desktop--text--right {
  text-align: right;
}
html body .desktop--text--no-pad--top {
  padding-top: 0;
  margin-top: 0;
}
