
@media (max-width: @media-cutoff) {
	html body {
		.container {
			padding: 0;
		}
		.row {
			&.padding-wide {
				padding: 20px 10px;
			}
			&.split-content-box {
				padding: 10px;
				
			}
		}
		article {
			width: 349px;
		    margin: auto;
		    text-align: left;
		}
		footer {
			.footer-menu {
				li {
					padding: 5px;
				}
			}
			.nav-logo-inline {
				display: block;
				clear: both;
				margin-bottom: 20px;
			}
		}
	}
}
