
@media (max-width: @media-cutoff) {
	html body {
		.container {
			padding: 0;
			width: 100vw;
		}
		.row {
			&.padding-wide {
				padding: 20px 10px;
			}
			&.split-content-box {
				padding: 10px 10px 40px 10px;
			}
		}
		header.row {
			padding: 0;
			margin: 0;
			.logo-link .fore-logo {
				left: -20px;
				top: -25px;
			}
			.hero-image {
				margin: 0;
				padding: 0;
			}
			.hero-text {
				top: 420px;
    			right: -110px;
    			left: inherit;
			}
			/* mobile specific nav */
			nav.top-menu {
				background: none;
				transition: linear 0.2s;
			}
			
			nav.mobile {
				display: block;
			    text-align: left;
			    right: 20px;
			    position: absolute;
			    top: 10px;
				.box-shadow-menu {
					position: fixed;
					padding-left: 1.25em;
					font-size: 40px;
					z-index: 10002;
					right: 10px;
					height: 50px;
	    			width: 50px;
				}
				.box-shadow-menu:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0.25em;
					width: 1em;
					height: 0.15em;
					background: @medBlue;
					box-shadow: 
					0 0.25em 0 0 @medBlue,
					0 0.5em 0 0 @medBlue;
				}
			}
		}
		header.row.headerMobileActive {
			position: fixed;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.5);
			z-index: 10001;
			nav.top-menu {
				display: block;
			    height: 100vh;
			    width: 100vw;
			    background: rgba(255, 255, 255, 0.85);
			    left: 0;
			    position: absolute;
			    top: 0;
			    .logo-link {
			    	display: none;
			    }
				ul#top-menu--nav-list {
					display: block;
					text-align: left;
					padding: 20px;
					margin-top: 130px;
					width: 220px;
					margin: auto;
    				float: none;
					li {
						display: block;
						font-size: @font-large;
						float: none;
						margin-bottom: 20px;
						a {
							border: 3px solid;
							border-radius: 4px;
							padding: 20px 15px;
							display: block;
							text-align: center;
						}
					}
				}
			}
		}
		.stacked-content-sm {
			h1 {
	    		margin: 25px 0 20px 0;
	    	}
	    }
	   	.inline-list--mobile-shrink {
	    	li {
	    		width: 95px;
	    		padding: 10px 5px;
	    		img {
	    			width: 100%;
	    			padding: 0;
	    		}
	    	}
	    }
	    .index-container-grey--center-text-small-img {
	    	.events-title {
	    		text-align: center;
	    		padding: 20px 0 30px 0;
	    		width: 80%;
	    		margin: auto;
	    	}
	    	.index-container-grey--center-text-small-img--img {
	    		text-align: center;
	    		img {
	    			height: 150px;
	    			width: auto;
	    			margin: -10px auto 5px auto;
	    		}
	    	}
	    }
		article {
			width: 80%;
		    margin: auto;
		    text-align: left;
		}
		footer {
			.footer-menu {
				.stacked-list-mobile li {
					padding: 5px;
					display: block;
					a {
						font-weight: bold;
					}
				}
			}
			.nav-logo-inline {
				display: block;
				clear: both;
				margin-bottom: 20px;
			}
		}
	}
}
