
@media (min-width:@media-cutoff) {
	html body {
		text-align: left;
		header.row {
			nav.top-menu {
				display: inline-block;
				position: fixed;
				ul#top-menu--nav-list {
					display: block;
				}
			}
			nav.mobile {
				display: none;
			}
			.fore-logo {
		    	position: fixed;
		    }
		}
		.root.index-container-grey {
			padding-left: 80px;
    		padding-right: 80px;
		}
		.desktop-fullwidth {
			width: 100%;
		}
		/* rig layout of items without upsetting data flow */
		.item-left {
			float: left;
		}
		.item-right {
			float: right;
		}
		.row {
			.center-md, &.center-md {
				text-align: center;
			}
			.center-sm, &.center-sm {
				text-align: left;
			}
		}
		.split-content-md {
			h1 {
				margin: 30px 0 0 0;
				padding: 0;
			}
			h2,h3,h4,h5,h6 {
				margin-top: 0;
				padding-top: 0;
			}
			.row {
				padding-bottom: 30px;
				&:first-child {
					padding-bottom: 0px;
				}
				&:last-child {
					padding-bottom: 10px;
				}
			}
		}
		.white-sub {
		    max-width: 70%;
		}
		.carousel {
			.slick-current {
				.main-content {
					display: block;
					width: 380px;
	    			margin-left: -78px;
				}
			}
		}
	}
}
