/* main stylesheet. will eventually replace main.css */

@media-cutoff: 780px;
@font-large: 30px;
@font-med: 22px;
@font-small: 16px;
@font-tiny: 14px;
@font-super-tiny: 11px;
@lightBlue: #88D0E9;
@medBlue: #2c82c2;
@darkBlue: #2d2e83;
@lightGrey: #F2F2F2;

html body {
	text-align: center;

	/* Header & nav */
	.logo-link {
		img {
			width: 170px;
			height: 50px;
		    width: auto;
		    display: inline-block;
		}
	}
	header.row {
		padding-top: 0; 
		.fore-logo {
		    float: left;
		    position: fixed;
		    padding-left: 5%;
		    padding-top: 10px;
		    z-index: 10001;
		    top: 20px;
		}
		li {
		    float: right;
		    position: relative;
		    right: 5%;
			a {
			    display: block;
			    color: #2581C4;
			    padding: 16px;
			    line-height: 6pt;
			    text-decoration: none;
			    text-transform: uppercase;
			    font-weight: bold;
			    font-size: @font-super-tiny;
			}
		}
		ul {
		 	list-style-type: none;
		}
		nav.top-menu {
			display: none; /* hidden for mobile*/
		    overflow: hidden;
		    z-index: 10000;
		    transition: all 0.2s ease-in-out;
		    height: 60px;
		    background-color:transparent; 
		    position: fixed;
		    left: -60px;
		    top: 20px;
		    width: 100%;
		    margin: auto; 
		    ul {
		    	width: 96%;
		    	margin: auto;
		    }
			&.active {
			    background: #fff;
			    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
			    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
			    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
			}
		}
		/* mobile specific nav */
		&.headerMobileActive {
			position: fixed;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.5);
			z-index: 10001;
			nav.top-menu {
				display: block;
				height: 100%;
				width: 100%;
				ul {
					display: block;
					text-align: left;
					padding: 20px;
					margin-top: 40px;
					width: 220px;
					margin-left: 15px;
					li {
						display: block;
						font-size: @font-med;
						float: none;
						margin-bottom: 20px;
						a {
							border: 3px solid;
							border-radius: 4px;
							padding: 25px 20px;
							display: block;
							text-align: center;
						}
					}
				}
			}
		}
		nav.mobile {
			display: block;
		    text-align: left;
    		left: 30px;
    		position: absolute;
			.box-shadow-menu {
				position: relative;
				padding-left: 1.25em;
				font-size: 40px;
				z-index: 10002;
			}
			.box-shadow-menu:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0.25em;
				width: 1em;
				height: 0.15em;
				background: black;
				box-shadow: 
				0 0.25em 0 0 black,
				0 0.5em 0 0 black;
			}
		}
	}

	/* Containers */
	.index-container-blue {
	    padding-top: 2%;
	    padding-bottom: 2%;
	    height: auto;
	    background: @lightBlue;
	    background: -webkit-linear-gradient(left bottom, @darkBlue, #2581c4); 
	    background: -o-linear-gradient(bottom left, @darkBlue, #2581c4);
	    background: -moz-linear-gradient(bottom left, @darkBlue, #2581c4);
	    background: linear-gradient(to bottom left, @darkBlue, #2581c4);
	    color: #fff;
	    a, address, p {
	    	color: #fff;
	    }
	    a {
	    	&.button {	
	    		text-decoration: none;
	    	}
	    }
	}
	.index-container-grey {
	    background-color: @lightGrey;
	    padding-top: 2%;
	    padding-bottom: 2%;
	    height: auto;

	}
	.index-container-white {
	    background-color: #FFFFFF;
	    padding-bottom: 2%;
	    padding-bottom: 2%;
	    height: auto;
	}
	.blue-full-width {
	    color: white;
	    margin: auto;
	    width: 80%;
	    height: auto;
	}
	.grey-full-width {
	    color: #1D1D1B;
	    margin: auto;
	    width: 80%;
	    height: auto;
	}
	.white-full-width {
	    color: #1D1D1B;
	    margin: auto;
	    height: auto;
	}
	.white-sub {
	    color: #1D1D1B;
	    margin: auto;
	    height: auto;
	    text-align: center;
	    padding: 20px;
	    max-width: 80%;
	    p {
    		margin-bottom: 20px;
	    }
	}
	.row {
		padding: 20px 30px;
		&.root {
			max-width: 1100px;
			margin: auto;
		}
		&.no-pad {
			padding: 0 30px;
		}
		&.padding-wide {
			padding: 20px 80px;
		}
	}
	.stacked-content-sm {
		h1 {
			margin: 25px 0 0 0;
		}
		h2,h3,h4,h5,h6 {
			margin-top: 40px;
		    padding-top: 0;
		    margin-bottom: 30px;
		}
		.row {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.buttons-container {
			margin-top: 15px;
		}
	}
	
	footer {
		background: @lightGrey;
		.footer-menu {
			li {
				padding: 20px;
				a {
					text-transform: uppercase;
				}
			}
		}
		a {
			color: #000;
		}
	}

	/* Titles & text */
	h1, h2, h3, h4, h5, h6 {
		padding: 0;
		margin: 10px 0;
		font-weight: bold;
	}	
	h1 {
	    text-align: center;
	    margin: 0;
	    font-size: @font-large;
	}
	h2, h3 {
		font-size: @font-med;
	}
	h4, h5, h6 {
		font-size: @font-small;
	}
	p {
		font-size: @font-tiny;
		color: #000;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.small-text {
		font-size: @font-super-tiny;
	}
	.narrow-text {
		width: 60%;
		margin: auto;
	}
	.text-blue, .text-blue p {
		color: #88D0E9;
	}
	.text-blue {
		h1,h2,h3,h4,h5,h6 {
			color: #fff;
		}
	}
	.white-title {
	    color: #FFFFFF;
	    padding-bottom: 2%;
	}
	.black-title {
	    color: #1D1D1B;
	    padding-bottom: 2%;
	}
	.partners-title {
	    padding-top: 3%;
	    color: #676766;
	}
	hr {
		&.graphic-hr {
			width: 0px;
		    border: 7px solid #fff;
		    border-radius: 50px;
		    padding: 10px;
		    background: @medBlue;
		    margin: auto;
		    position: absolute;
    		left: 50vw;
    		margin-left: -10px;
    		z-index: 101;
		    &.graphic-hr--open {
		    	margin-top: -36px;
		    }
		    &.graphic-hr--close {
		    	margin-top: -17px;
		    }
		    &.graphic-hr--grey {
		    	border: 7px solid @lightGrey;
		    }
		}
	}

	/* Forms */
	form {
		input, textarea, select {
			width: 100%;
			margin-bottom: 10px;
			border-radius: 2px;
			border: 0;
			padding: 3px 5px;
		}
	}

	/* Lists */
	ul, ol {
		padding: 10px 0;
		margin: 0;
	}
	.inline-list {
		li {
			display: inline-block;
			padding: 10px;
		}
	}

	/* Buttons */
	.buttons-container {
		&.light .button {
			border: 0;
			background: #88D0E9;
		}
	}
	.button {
		background: none;
		color: #fff;
		display: inline-block;
		padding: 3px 15px;
		border-radius: 2px;
		border: 2px solid @lightBlue;
		margin-right: 10px;
		transition: linear 0.2s;
		&:hover {
			background: @lightBlue;
			text-decoration: none;
		}
	}

	/* Carousels */
	.carousel {
		padding: 40px 0;
		width: 80%;
		margin: auto;
		&.single {
			img {
				margin-bottom: 15px;
			}
			> div p {
				width: 60%;
				margin: auto;
			}
		}
		> div {
			text-align: center;
			img {
				margin: auto;
			}
			.main-content {
				display: none;
			}
		}
		.slick-current {
			.main-content {
				display: block;
			}
		}
		.slick-arrow {
			color: @medBlue;
			border-radius: 50px;
			border: 3px solid;
			padding: 15px;
			top: 30%;
			opacity: 1;
			&:before {
				color: @medBlue;
				top: 20%;
			    position: absolute;
			    text-align: center;
			    left: 5px;
			    font-weight: bold;
			}
			&.slick-prev:before {
				content: "◀";
				opacity: 1;
			}
			&.slick-next:before {
				content: "▶";
				text-indent: 3px;
				opacity: 1;
			}
		}
	}

	/* 3rd Party */
	#map {
	    width: auto;
	    height: 60vh;
	}

	/* mobile stuff, overridden by media query in fore-desktop where needed */
	.center-sm {
		text-align: center;
	}

	/* Images */
	.hero-image {
	    background-image: url(../img/hero-image.jpg);
	    background-size: cover;
	    background-position: center;
	    height: 100vh;
	}
	.hero-text {
	    display: inline-block;
	    font-size: 14pt;
	    line-height: 10pt;
	    position: relative;
	    top: 70vh;
	    left: 15vw;
	    color: #F8F8F8;
	    border-bottom: 5px solid #2581C4;
	}

}

@import "fore-desktop.less";